<%- include("1_header.ejs") %>

<div class='dashboard-content'>
    <div class='container'>
        <div class='card'>
            <div class='card-header'>
                <h4>รายการเอกสารขอยืมรถยนต์ทั้งหมด</h4>
            </div>
            <div class='card-body'>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 7px;">
                        <table id="main_table" class="table table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>เครื่องมือ</th>
                                    <th>สถานะ</th>
                                    <th>วันที่ยืม</th>
                                    <th>ผู้ยืมชื่อ-นามสกุล (แผนก)</th>
                                    <th>ผู้ขับ</th>
                                    <th>Eazy Pass</th>
                                    <th>บัตรเติมน้ำมัน</th>
                                    <th>ทะเบียนรถที่ยืม</th>
                                    <th>ชื่อรถที่ยืม</th>
                                    <th>ผู้สร้างชื่อ-นามสกุล (แผนก)</th>
                                    <th>สร้างเมื่อ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% index = 1 %>
                                <% document_alltime_data.forEach( function(e) { %>
                                    <tr>
                                        <td><%= index %></td>
                                        <td>
                                            <a href="/car_rent_document_approve_view/<%= btoa(e.cdm_id) %>">
                                                <button type="button" class="btn btn-primary btn-icon">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </button>
                                            </a>
                                            <% if( e.cds_status == "สำเร็จแล้ว" ){ %>
                                                <a title="ประวัติการเติมน้ำมัน" href="/refueling_document/<%= btoa(e.cds_id) %>">
                                                    <button type="button" class="btn btn-primary btn-icon">
                                                        <i class="fa-solid fa-list-ol"></i>
                                                    </button>
                                                </a>
                                            <% } %>
                                        </td>
                                        <td>
                                            <% if( e.cds_status == "อนุมัติแล้ว" ){ %>
                                                <div class="alert alert-warning" role="alert" style="padding: 0.3rem 1rem; margin-bottom: 0rem;">
                                                    ส่งรถ
                                                </div>
                                            <% }else if( e.cds_status == "ส่งรถแล้ว" ){ %>
                                                <div class="alert alert-secondary" role="alert" style="padding: 0.3rem 1rem; margin-bottom: 0rem;">
                                                    รอผู้ขอ
                                                </div>
                                            <% }else if( e.cds_status == "รับรถแล้ว" ){ %>
                                                <div class="alert alert-info" role="alert" style="padding: 0.3rem 1rem; margin-bottom: 0rem;">
                                                    กำลังใช้งาน
                                                </div>
                                            <% }else if( e.cds_status == "คืนรถแล้ว" ){ %>
                                                <div class="alert alert-danger" role="alert" style="padding: 0.3rem 1rem; margin-bottom: 0rem;">
                                                    ตรวจรถ
                                                </div>
                                            <% }else if( e.cds_status == "สำเร็จแล้ว" ){ %>
                                                <div class="alert alert-success" role="alert" style="padding: 0.3rem 1rem; margin-bottom: 0rem;">
                                                    สำเร็จแล้ว
                                                </div>
                                            <% } %>
                                        </td>
                                        <td><%= dayjs(e.cds_date).format("DD/MM/YYYY") %> (<%= e.cds_phase %>)</td>
                                        <td><%= e.cdm_for_person %> (<%= e.cdm_for_person_division %>)</td>
                                        <td><%= e.cdm_driver_type %> (<%= e.cdm_driver_name %>)</td>
                                        <td><%= e.cdm_eazy_pass %></td>
                                        <td><%= e.cdm_fuel_card %></td>
                                        <td><%= e.car_registration_code %></td>
                                        <td><%= e.car_name %> (<%= e.car_type %>)</td>
                                        <td><%= e.cdm_create_by_name %> (<%= e.cdm_create_by_division %>)</td>
                                        <td><%= dayjs(e.cdm_create_date).format("DD/MM/YYYY") %></td>
                                    </tr>
                                <% index++ } ) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("2_footer.ejs") %>

<script>

    function admin_car_checking( main_document_id , sub_document_id ){
        Swal.fire({
            icon : "question",
            title: "ยืนยันการตรวจรถ",
            html: `ยืนยันการตรวจรถสำเร็จแล้วหรือไม่ ?
            <br>
            <br>
            <a href="/refueling_document/${btoa(sub_document_id)}" target="_blank" style="cursor: pointer;">
                <button type="button" class="btn btn-primary" style="color: white; margin-left: 10px;">
                    <i class="fa-solid fa-list"></i>
                    ดูประวัติการเติมน้ำมัน
                </button>
            </a>`,
            showCancelButton: true,
            confirmButtonColor: "#027E6F",
            cancelButtonColor: "#00000040",
            confirmButtonText: "ยืนยัน, ตรวจรถสำเร็จ" ,
            cancelButtonText: "ปิด"
        }).then((result) => {
            if (result.isConfirmed) {
                let data = {
                    main_document_id : main_document_id , 
                    sub_document_id : sub_document_id
                }

                console.log("data")
                console.log(data)
        
                $.ajax({
                    type: 'POST',
                    url: '/admin_car_checking',
                    data: data,
                    success: function (call_back_data) {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log("error with Ajax");
                        console.log(error);
                    }
                });
            }
        });
    }

    function send_car(){
        console.log(document_id_selected)

        Swal.fire({
            title: "ยืนยันการส่งรถ",
            text: "ยืนยันการส่งรถยนต์ให้กับผู้ขอใช้รถยนต์ ?",
            icon : "question",
            showCancelButton: true,
            confirmButtonColor: "#027E6F",
            cancelButtonColor: "#00000040",
            confirmButtonText: "ยืนยัน, ส่งรถ" ,
            cancelButtonText: "ปิด"
        }).then((result) => {
            if (result.isConfirmed) {

                let data = {
                    document_id : document_id_selected , 
                    car_id : car_id_selected ,
                    last_miles : document.getElementById("last_mile").value
                }

                console.log("data")
                console.log(data)
        
                $.ajax({
                    type: 'POST',
                    url: '/admin_send_car',
                    data: data,
                    success: function (call_back_data) {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log("error with Ajax");
                        console.log(error);
                    }
                });
            }
        });
    }

    let document_id_selected = ""
    let car_id_selected = ""

    function set_last_miles( document_id , registration_code , car_id , last_miles ){
        console.log(document_id)
        console.log(last_miles)

        document_id_selected = document_id
        car_id_selected = car_id

        document.getElementById("last_mile").value = last_miles
        document.getElementById("car_registration_code").innerText = registration_code
    }

    $('#main_table').DataTable({
        // "destroy": true,
        // "retrieve":true,
        // "stateSave": true,
        fixedColumns:   {
            left: 0 ,
            right: 0
        },
        "paging": true,
        "scrollCollapse": true,
        "responsive": true, 
        "lengthChange": true, 
        "searching": true,
        "autoWidth": true,
        "ordering": true,
        "info": true,
        "scrollX": true,
        "scrollY": "46vh" 
    })

</script>