<%- include("1_header.ejs") %>

<div class='dashboard-content'>
    <div class='container'>
        <!-- <div class="row" style="margin-bottom: 10px;">
            <div class="col-12">
                <button onclick="back_page()" title="กลับ" type="button" class="btn btn-secondary btn-back">
                    <i class="fa-solid fa-angle-left"></i>
                    กลับ
                </button>
                <button onclick="window.location.reload();" style="color: white; font-weight: 700;" type="button" class="btn btn-info btn-function">
                    <i class="fa-solid fa-rotate-right"></i>
                    รีเซ็ต
                </button>
            </div>
        </div> -->
        <div class='card'>
            <div class='card-header'>
                <h4>Flow การอนุมัติเอกสาร</h4>
            </div>
            <div class='card-body'>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 7px;">
                        <button onclick="add_new_flow_approve()" style="color: white; font-weight: 700;" type="button" class="btn btn-info btn-function">
                            <i class="fa-solid fa-plus"></i>
                            เพิ่ม Flow
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 7px;">
                        <table id="main_table" class="table table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>#</th>
                                    <th> แผนก </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% index = 1 %>
                                <% approval_cofig_data.forEach( function(e) { %>
                                    <tr>
                                        <td><%= index %></td>
                                        <td>
                                            <a href="/approval_division_edit/<%= btoa(e.ac_division) %>">
                                                <button type="button" class="btn btn-primary btn-icon">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </button>
                                            </a>
                                        </td>
                                        <td><%= e.ac_division %></td>
                                    </tr>
                                <% index++ } ) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("2_footer.ejs") %>

<script>

    async function add_new_flow_approve(){
        const { value: division } = await Swal.fire({
            title: "Enter Division",
            input: "text",
            inputLabel: "Division",
            inputPlaceholder: "Enter Division",
            inputAttributes: {
                maxlength: "10",
                autocapitalize: "off",
                autocorrect: "off"
            } ,
            inputValidator: (value) => {
                if (!value) {
                    return "You need to enter division!";
                }
            }
        });
        if (division) {
            let data = {
                division : division
            }
    
            $.ajax({
                type: 'POST',
                url: '/approval_division_create',
                data: data,
                success: function (nextPage) {
                    window.location = nextPage;
                },
                error: function (error) {
                    console.log("error with Ajax");
                    console.log(error);
                }
            });
        }
    }

    $('#main_table').DataTable({
        // "destroy": true,
        // "retrieve":true,
        // "stateSave": true,
        fixedColumns:   {
            left: 4 ,
            right: 0
        },
        "paging": true,
        "scrollCollapse": true,
        "responsive": true, 
        "lengthChange": true, 
        "searching": true,
        "autoWidth": true,
        "ordering": true,
        "info": true,
        "scrollX": true,
        "scrollY": "46vh" 
    })

</script>