<%- include("1_header.ejs") %>

<div class='dashboard-content'>
    <div class='container'>
        <div class="row" style="margin-bottom: 10px; ">
            <div class="col-12">
                <button onclick="back_page()" title="กลับ" type="button" class="btn btn-secondary btn-back">
                    <i class="fa-solid fa-angle-left"></i>
                    กลับ
                </button>
                <button style="color: white; font-weight: 700;" type="button" class="btn btn-info btn-function">
                    <i class="fa-solid fa-plus"></i>
                    เพิ่มใหม่
                </button>
                <button style="color: white; font-weight: 700;" type="button" class="btn btn-info btn-function">
                    <i class="fa-solid fa-rotate-right"></i>
                    รีเซ็ต
                </button>
            </div>
        </div>
        <div class='card' style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;">
            <div class='card-header'>
                <h3>เอกสารขออนุมัติอัตรากำลัง</h3>
            </div>
            <div class='card-body'>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <table id="main_table" class="table table-striped table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>แผนก</th>
                                    <th>รหัสโปรเจค</th>
                                    <th>ชื่อโปรเจค (ไทย)</th>
                                    <th>ชื่อโปรเจค (อังกฤษ)</th>
                                    <th>สถานที่</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% index = 1 %>
                                <% result.forEach( function(e) { %>
                                    <tr>
                                        <td><%= index %></td>
                                        <td><%= e.Department %></td>
                                        <td><%= e.ProjectCode %></td>
                                        <td><%= e.ProjectNameTH %></td>
                                        <td><%= e.ProjectNameEN %></td>
                                        <td><%= e.Location %></td>
                                    </tr>
                                <% index++ } ) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("2_footer.ejs") %>

<script>

    window.onload = function(){
        candidate_list_str = '<%-JSON.stringify(result)%>'
        candidate_list_obj = JSON.parse(candidate_list_str);
    }

    $('#main_table').DataTable({
        // "destroy": true,
        // "retrieve":true,
        // "stateSave": true,
        fixedColumns:   {
            left: 0 ,
            right: 0
        },
        "paging": false,
        "scrollCollapse": true,
        "responsive": false, 
        "lengthChange": true, 
        "searching": true,
        "autoWidth": true,
        "ordering": true,
        "info": true,
        "scrollX": true,
        "scrollY": "50vh" 
    })
</script>